.text1 {
	font-size: 11vw;
	color: #ffffff;
	font-family: 'mixtape';
}

.text2 {
	font-size: 8vw;
	color: #ffffff;
	font-family: 'Gulash';
}
.placer {
	align-items: center;
	text-align: center;
	margin-top: 40vh;
}
.imageminons {
	align-items: center;
	text-align: center;
	border: 15vw;
	height: 33vh;
	width: 50vw;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border: 0.5vh solid white;
}
