.HomePage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  background-color: #4E5648;
  margin: auto;
  align-items: center;
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #4E5648;
  height: 100vh;
  margin: auto;
  align-items: center;
  text-align: center;
}

.App-grid {
  display: grid;
  margin: auto;
  padding: 20vmin;
  align-items: center;
  text-align: center;
}

.headlinestyle{
  padding: 7vmin;
  font-size: xx-large;
  color: #ffffff;
  font-family: Playfair Display;
}
