.filebutton {
  border-radius: 5px;
  border: 0.01em solid;
  background: #ffffffdd;
  padding: 1px;
  border-color: rgb(255, 255, 255);
  width: 35vw;
  height: 7vh;

  position: fixed;
  bottom: 7vh;
  font-size: large;
  color: #000000;
  font-family: Playfair Display;
}

.transperentbutton {
  opacity: 0%;
}
