.filebutton {
  border-radius: 40px;
  border: 0.01em solid;
  background: #FFFFFF;
  padding: 1px;
  border-color: black;
  width: 60vw;
  height: 10vh;
  position: fixed;
  bottom: 2em;
  font-size: large;
  color: #000000;
  font-family: Playfair Display;
}

.transperentbutton {
  opacity: 0%;
}
